# Start the compositor
picom --no-frame-pacing &

# Enable numlock
numlockx &

# Set the keyboard layout
# setxkbmap -option compose:rwin de us

# Turn off the bell
# https://wiki.archlinux.org/title/PC_speaker#Xorg
xset -b

# Disable DPMS and screen saving
# We only enable screen saving while the session is locked
xset s off -dpms

# Lock the screen when suspending or hibernating
xss-lock --transfer-sleep-lock -- screen-lock &
